* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

@import "./partials/scroll_bar";
@import "./partials//top-bar";
@import "./partials/cart-preview";
@import "./partials//logo-nav-bar";
@import "./partials//categories-nav-bar";
@import "./partials//search-bar";
